<h1>班级列表</h1>
<%= link_to '新建班级', new_team_path %>
<table>
	<tr>
		<th>班级名称</th>
	</tr>

	<% @teams.each do |team| %>
		<tr>
			<td><%= team.team_name %></td>
			<td><%= link_to '查看学生',students_path(:team_id => team.id) %></td>
			<td><%= link_to '添加老师',new_teacher_team_path(:team_id => team.id) %></td>
		</tr>
	<% end %>
</table>