<p>
	<strong>姓名：</strong>
	<%= @student.student_name %>
</p>

<p>
	<strong>性別: </strong>
	<%= @student.sex %>
</p>
  
<p>
	<strong>班级: </strong>
	<%= @student.team.team_name %>
</p>

<p>
	<strong>年齡: </strong>
	<%= @student.age %>
</p>